#buttons{
    margin: 10px;
    padding-top: 3px;
}
input[type="button"]{
    box-shadow: 1px 1px 1px ;
    height: 30px;
    width: 30px;
    margin: 2px;
}
input[value="C"]{
    background-color: white;
}
input[name="result"]{
    box-shadow: 2px 2px 2px ;
    padding: 5px;
    margin: 10px;
}
form[name="form"]{
    background-color: burlywood;
    position: absolute;
    top: 100px;
    left: 200px;
    width: 220px;
    border: 5px solid black;
}
